.banner-container{
    background-color: var(--voOpacity);
}

.banner-container{
    justify-content: space-between;
    background-color:var(--voOpacity);

}

.banner-container p{
    font: var(--subtitle);
    color:var(--white);
}
.banner-container h1{
    font: var(--title);
    color:var(--olivine);
}

.banner-container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px) {

    .banner-container .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 200px;
        
    }
     
}