.banner-container{
    background-color: var(--voOpacity);
    display: flex;
    flex-direction: column;
}
.banner-container .text {
    order: 2;
    text-align: center;
    padding-left: 15px;
}


.banner-container .text p{
    font: 20px/3px var(--fontBase);
    color:var(--white);
}
.banner-container .text h1{
    font: bold 35px/5px var(--fontBase);
    line-height: 20px;
    color:var(--olivine);
}

.banner-container .banner-img{
    display: flex;
}


@media (min-width: 768px) {
    
    .banner-container{
        display: flex;
        flex-direction: row;
        background-color:var(--voOpacity);
    
    }

    .banner-container .text{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        order:1;
    }

    .banner-container .banner-img{
        order:2;
        width: 1000px;
    }
     
}