.frutales-container {
    margin-block-start: 34px;
   }
   
.boxes-frutales-container{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.boxes-frutales-container a{
    font: var(--titleMobile);
    color:var(--verdeOscuro);
    font-size: 22px;
    text-decoration: none;
}
.frutales1-2, .frutales3-4,.frutales5-6,.frutales7-8,.frutales9-10,
.frutales11-12, .frutales13-14, .frutales15-16, .frutales17-18 {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-bottom: 14px;
   }

.box-frutales1,.box-frutales2, .box-frutales3, .box-frutales4,
.box-frutales5,.box-frutales6,.box-frutales7,.box-frutales8,
.box-frutales9,.box-frutales10,.box-frutales11,.box-frutales12,
.box-frutales13,.box-frutales14,.box-frutales15,.box-frutales16,
.box-frutales17,.box-frutales18{
        width: 50%;
        position: relative;
   }

.box-frutales1 img, .box-frutales2 img,.box-frutales3 img, .box-frutales4 img,
.box-frutales5 img,.box-frutales6 img,.box-frutales7 img,.box-frutales8 img,
.box-frutales9 img,.box-frutales10 img,.box-frutales11 img,.box-frutales12 img,
.box-frutales13 img,.box-frutales14 img,.box-frutales15 img,.box-frutales16 img,
.box-frutales17 img,.box-frutales18 img{
    width: 100%;
    display: flex;
}

.text-container-box1-frutal, .text-container-box2-frutal,
.text-container-box3-frutal,.text-container-box4-frutal,
.text-container-box5-frutal,.text-container-box6-frutal,
.text-container-box7-frutal,.text-container-box8-frutal,
.text-container-box9-frutal,.text-container-box10-frutal,
.text-container-box11-frutal, .text-container-box12-frutal,
.text-container-box13-frutal, .text-container-box14-frutal,
.text-container-box15-frutal, .text-container-box16-frutal,
.text-container-box17-frutal, .text-container-box18-frutal{
    text-align: center;
   }
  /*Se le aplica a TODOS los img:nth-child(1)
para todas las imgs 1

a:nth-child(1) > img:nth-child(1) {
    height: 106.633px;
   }
 */  
  /*Se le aplica a TODOS los p:nth-child(1)
para todos los párrafos en posición 1 (que tienen dos líneas)*/ 
p:nth-child(1) {
    line-height: 20px;
   }
   
/*Se le aplica a TODOS los p:nth-child(2)*/
.boxes-frutales-container p:nth-child(2) {
    font: var(--body);
    line-height: 5px;
   }
   
   
   @media (min-width: 768px) {
        .frutales-container {
      /*  background-color: darkseagreen;*/
        padding-block-start: 38px;
        padding-block-end: 38px;
        margin-block-end: 25px;
        display:flex;
       }
       
        .boxes-frutales-container {
        display: flex;
        align-items: center;
        flex-direction: column;
       }
    
      /*  .box-frutales1 img:hover, .box-frutales2 img:hover{
            opacity: 0.8;
        }*/
        a:nth-child(1) > img:nth-child(1):hover{
            opacity: 0.8;
        }
    
        .frutales1-2, .frutales3-4, .frutales5-6,
        .frutales7-8, .frutales9-10, .frutales11-12, 
        .frutales13-14, .frutales15-16, 
        .frutales17-18 {
        display: flex;
        /*! flex-direction: row; */
        gap:20px;
        margin-bottom: 14px;
        width:60%;
        /*! justify-content: ; */
        /*! align-content: first baseline; */
        height: 100%;
       }
       
        
   }