.boxes{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.box1, .box3{
  position: relative;
  display: flex;
}

@media (min-width: 768px) {
  .boxes {
    display: grid;
    grid-template-columns: auto 33.3% auto;
    gap: 30px;
     
   }
   .wrapper-boxes {
    margin-top: 35px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
  .text-box2 p {
    margin-block-end: 30px;
    }
    .button {
      margin-block-start: 40px;
    }
  /*.boxes{
    /*  display:flex;
      justify-content: center;
    -----------------------
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      
      -------------------
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      gap: 30px;
      
      ------------------------
      display:flex;
      align-items: center;
      justify-content: space-between;
      gap: 45px;
  
      display: flex;
      flex-direction: column;
  
  
  }
  .box1,.box2,.box3{
      border: 2px solid red;
      width:33.3%;
      position: relative;
  }
  
  .box1 img, .box2 img, .box3 img{
    width:100%
  }
  
  .box2 {
    border:2px solid var(--verdeOscuro);
    background-image: var(--white);
  }*/
}