.counter-dropdown-box {
    display: flex;
    margin-inline-start: 18px;
    gap: 77px;
}
.counter > p:nth-child(1) {
    font: bold 16px var(--fontBase);
    padding-top: 8px;
}
.dropdown{
  position: relative;
  padding-top: 25px;
}
.dropdown-menu{
  position: absolute;
  left: 0;
  background-color: white;
  padding:.25rem;
  border-radius:.25rem;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 15%);
  opacity:0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  
}
.order-by{
  width: 125px;
  z-index: 2;
}

.order:hover{
  background-color: rgba(0,0,0,.1);
  border-radius: 3px;
}
.dropdown.active > .link + .dropdown-menu{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.dropdown-funct > .order{
  font-size: 15px;
  gap: 5px;
}


/* .dropbtn {
  color: var(--verdeOscuro);
  font: bold 16px var(--fontBase);
  text-align: center;
  border: 1px solid var(--verdeOscuro);
  background-color: var(--white);
  cursor: pointer;

}

.dropdown-mobile-box {
  display: flex;
  flex-direction: column;
 /* text-align: center;
  padding-top: 20px;
}

.dropbtn > img:nth-child(1) {
  padding-left: 5px;
  color: var(--verdeOscuro);
}

.dropdown-content{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--verdeOscuro);
  margin-top: 0;
   
   
}
 */
/*.dropdown-mobile-box > label:nth-child(1) > img:nth-child(1) {
    padding-left: 5px;
    color: var(--verdeOscuro);
   }
   
    
.dropdown-mobile-box > a:nth-child(1) {
    text-decoration: none;
    color: var(--verdeOscuro);
  }
*/
@media (min-width:768px){

  .counter > p:nth-child(1) {
    /* font: bold 16px var(--fontBase); */
    font: var(--subtitle);
  }

  .dropbtn {
    /* font: bold 16px var(--fontBase); */
    font: var(--subtitle);
  }

  .counter-dropdown-box {
    /* margin-inline-start: 18px; */
    margin-inline-start: 100px;
  }

  .dropdown-mobile-box {
    padding-top: 30px;
  }

  .counter-dropdown-box {
    justify-content: center;
    gap: 200px;
    margin-inline-start: 165px;
  }

}