.footer-tala {
    background: var(--voOpacity);
    display: flex;
    flex-direction: column;
   }
   
.footer-tala .encuentranos{
    font: var(--titleMobile);
    color: var(--white);
}

.info-footer, .contacto-footer, .social-footer{
    display: none;
}

@media (min-width: 768px) {

.encuentranos {
    display: none;
  }
    
  .icons-footer {
    display: none;
  }
  .footer-tala{
    flex-direction: row;
    justify-content: space-around;
  }

 .info-footer, .contacto-footer, .social-footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.info-footer h1,.contacto-footer h1, .social-footer h1  {
    font: var(--subtitle);
    color: var(--white);
   }
   

}