.icons-home{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

@media (min-width: 768px) {
     
    .icons-home {
        width: 35px;
        height: 35px;
        padding-right: 5px;
    }
}