.siguenos-subtitle{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.siguenos-subtitle a{
    font: var(--body);
    text-decoration: none;
    color: var(--verdeOscuro);
}
       
@media (min-width: 768px) {
    .siguenos-subtitle a {
        font: var(--subtitle);
        text-decoration: none;
        color: var(--verdeOscuro);
    }
}