@import "./elfsight-ig.css";
@import "./container-building.css";
@import "./img-container.css";
@import "./social-media.css";
@import "./welcome-text.css";
@import "./header-content.css";
@import "./menu.css";
@import "./wrapper-banner.css";
@import "./banner-container.css";
@import "./wrapper-boxes.css";
@import "./boxes.css";
@import "./text-boxes-home.css";
@import "./buttons.css";
@import "./siguenos-title.css";
@import "./siguenos-subtitle.css";
@import "./gallery.css";
@import "./icons-home.css";
@import "./footer-container.css";
@import "./footer-tala.css";
@import "./icons-footer.css";
@import "./logo-footer.css";
@import "./footer-signature.css";



:root{
    --fontBase:'Open Sans', sans-serif;
    --fontSecond:"Lato", sans-serif;
    /*font-weight font-size/line-height font-family*/
    --title: bold 40px/ normal var(--fontBase);
    --subtitle: 600 21px/normal var(--fontBase);
    --titleMobile: bold 30px/5px var(--fontBase);
    --body: 20px/ normal var(--fontSecond);
    --verdeOscuro:#132A13;
    --hunterGreen:#31572C;
    --sapGreen:#4F772D;
    --olivine:#90A955;
    --keyLime:#ECF39E;
    --white:#FFFFFF;
    --black:#000000;
    --brown: #4C260C;
    --voOpacity:rgba(19,42,19,0.8);


}

body{
    font:var(--body);
    /*por defecto*/
    color:var(--verdeOscuro);
    /*por defecto*/
    background-color: var(--white);
    margin:0px;
}

.body-building{
    background-color: var(--olivine);
}