.text-box1{
    position: absolute;
    top: 60%;
    bottom: 50%;
    left: 0%;
    right: 0%;
    background: rgba(255, 255, 255, 0.6);
    color: var(--verdeOscuro);
    width: auto;
    padding: 50px;
    font:var(--title);
}

.text-box1 p{
    top: 0%;
    bottom: 0;
    position: absolute;
    color: var(--verdeOscuro);
    font: var(--subtitle);
    font-size: 30px;
}
