.text-box1, .text-box3{
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    bottom: 24%;
    width: 100%;
    text-align: center;
    padding-block: 20px;

}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--verdeOscuro);
    

}
.text-box2 > h1:nth-child(1) {
    margin-block-start: 84px;
   }
   
.text-box1 h1, .text-box2 h1 ,.text-box3 h1{
    font: var(--titleMobile);
    text-align: center;
}

.text-box2 p{
    font: var(--body);
    text-align: center;
    margin-block-start: 57px;
    margin-block-end: 37px;
}


   

@media (min-width: 768px) {
 /*   .text-box1, .text-box3{
        position: absolute;
        top: 60%;
        bottom: 50%;
        left: 0%;
        right: 0%;
        background: rgba(255, 255, 255, 0.6);
        color: var(--verdeOscuro);
        width: auto;
        padding: 50px;
        font:var(--title);
    }
    
    .text-box2{
        display: block;
        text-align: center;
        line-height: normal;
    }
    
    .text-box1 p{
        top: 0%;
        bottom: 0;
        position: absolute;
        color: var(--verdeOscuro);
        font: var(--subtitle);
        font-size: 30px;
        padding-left: 15px;
    }
    
    ------------------
    .text-box2 p{
        top: 0%;
        bottom: 0;
        position: absolute;
        color: var(--verdeOscuro);
        font: var(--subtitle);
        font-size: 30px;
        padding-left: 15px;    
    -------------------      
    }
    
    .text-box3 p{
        top: 0%;
        bottom: 0;
        position: absolute;
        color: var(--verdeOscuro);
        font: var(--subtitle);
        font-size: 30px;
        padding-left: 20px;
    }*/
}