.text-box1, .text-box3{
    position: absolute;
    top: 60%;
    bottom: 50%;
    left: 0%;
    right: 0%;
    background: rgba(255, 255, 255, 0.6);
    color: var(--verdeOscuro);
    width: auto;
    padding: 50px;
    font:var(--title);
}

.text-box2{
    display: block;
    text-align: center;
    line-height: normal;
}

.text-box1 p{
    top: 0%;
    bottom: 0;
    position: absolute;
    color: var(--verdeOscuro);
    font: var(--subtitle);
    font-size: 30px;
    padding-left: 15px;
}
/*
.text-box2 p{
    top: 0%;
    bottom: 0;
    position: absolute;
    color: var(--verdeOscuro);
    font: var(--subtitle);
    font-size: 30px;
    padding-left: 15px;    
      
}*/

.text-box3 p{
    top: 0%;
    bottom: 0;
    position: absolute;
    color: var(--verdeOscuro);
    font: var(--subtitle);
    font-size: 30px;
    padding-left: 20px;
}