.wrapper-boxes{
    margin-top: 35px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}

@media (min-width: 768px) {
    .wrapper-boxes {
        margin-top: 35px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        }
}